<div class="jumbotron text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
		    	<img ng-src="" height="200" width="200" >
		    	<h5>Your Current favorite song</h5>
		    	<audio controls ><source ng-src="{{ recentSong.music }}" type="audio/mpeg"></audio>
		    </div>
		    <div class="col-md-6">
		    	<h3 >{{name}} PixelTone</h3>
			    <h5>Upload more picture and make more songs!</h5>
			    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModalUpload">Upload your picture!!!</button>
		    </div>
    	</div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileModalUpload" tabindex="-1" role="dialog" aria-labelledby="profileModalUploadLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="profileModalUploadLabel">Upload your picture</h4>
          </div>

         
            <div class="modal-body">
            
              <form id="form-signUp">
              <div style="margin:0 auto; width: 200px;">
                <img style="width: 200px; height: 150px;" id="output"/>
                <input id="profilePhotoFileUpload" type="file" accept="image/*" onchange="refreshPicBeforeInput(event)">
                </div>
                <div class="form-group" style="margin:0 auto; width: 200px;">
                  <label for="songName">Song Name</label>
                  <input type="text" class="form-control" id="profileNameOfSong" placeholder="Enter a name of the song">
                </div>
                <div class="form-group" style="margin:0 auto; width: 200px;">
                  <label for="parameter1">Parameter1</label>
                  <input type="number" class="form-control" id="profileParameter1" min="1" max="10" placeholder="Number 1 -10">
                </div>
                <div class="form-group" style="margin:0 auto; width: 200px;">
                  <label for="parameter2">parameter2</label>
                  <input type="number" class="form-control" id="profileParameter2" min="1" max="10" placeholder="Number 1 -10">
                </div>
                <div class="form-group" style="margin:0 auto; width: 200px;">
                  <label for="parameter3">parameter3</label>
                  <input type="number" class="form-control" id="profileParameter3" min="1" max="10" placeholder="Number 1 -10">
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button ng-click="profileUpLoadNewSong()" id="btnSubmit" type="submit" class="btn btn-primary">Upload</button>
                </div>
              </form>
            
            </div>
           

      </div>
    </div>
</div>

<div class="container" ng-hide="profileSongsCreated.length == 0">
  <h2>Recent Songs created</h2>                                                                  
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Img</th>
        <th>Song Name</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="profileSongCreated in profileSongsCreated">
      <td class="col-md-2" ><img ng-src="{{ profileSongCreated.icon }}" height="75" width="75" > </td>
      <td><h4>{{ profileSongCreated.nameOfSong }}</h4></td>
      <td>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
  </table>
  </div>
</div>

<div class="container" ng-hide="pastSongsMade.length == 0">
  <h2>Previously created songs</h2>                                                                  
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Img</th>
        <th>Song Name</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pastSongMade in pastSongsMade">
			<td class="col-md-2" ><img ng-src="{{ pastSongMade.icon }}" height="75" width="75" > </td>
			<td><h4>{{ pastSongMade.nameOfSong }}</h4></td>
			<td>
        <audio controls ><source ng-src="{{ pastSongMade.music }}" type="audio/mpeg"></audio>
			</td>
		</tr>
	</tbody>
  </table>
  </div>