<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <h2>File Upload</h2>
            <form ng-app="pixelTone" name="form">
                <div class="btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                >Choose Image</div>
                <br>
                <button class="btn-primary" type="submit" ng-click="submit()">Upload</button>
                {{name}}
                <br>
                <br>
                <button class="btn-primary" type="submit" ng-click="process()">Process</button>
            </form>
        </div>
    </div>
</div>