<!-- home.html -->
<div id="logedInJumbo">
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
          <h3 >{{userName}} PixelTone</h3>
          <h5>Upload more picture and make more songs!</h5>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileModalUpload">Another picture!</button>
        </div>
      </div>
    </div>
</div>
</div>

<div id="logoutJumbo">
  <div class="jumbotron text-center">
      <h1>Welcome to PixelTone</h1>
      <h3>Upload a picture and get a tailor made song!</h3>
      <button  ng-click="goToLogin()" class="btn btn-primary" type="button">Log in!</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileModalUpload" tabindex="-1" role="dialog" aria-labelledby="profileModalUploadLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="profileModalUploadLabel">Upload your picture</h4>
          </div>

         
            <div class="modal-body">
            
              <div class="container-fluid" >
                <div class="row">
                    <div style="margin:0 auto; width: 200px;">                                     
                            <div class="form-group" style="margin:0 auto; width: 200px;">
                              <label for="songName">Song Name</label>
                              <input type="text" class="form-control" id="nameOfSong" placeholder="Enter a name of the song">
                            </div>
                            <div class="form-group" style="margin:0 auto; width: 200px;">
                              <label for="parameter1">Emotion to Color Preference</label>
                              <input type="range" class="form-control" id="parameter1" min="1" max="10" placeholder="Number 1 - 10">
                            </div>
                            <div class="form-group" style="margin:0 auto; width: 200px;">
                              <label for="parameter2">Chaos</label>
                              <input type="range" class="form-control" id="parameter2" min="1" max="10" placeholder="Number 1 - 5">
                            </div>
                            <div class="form-group" style="margin:0 auto; width: 200px;">
                              <label for="parameter3">Voices</label>
                              <input type="range" class="form-control" id="parameter3" min="1" max="4" placeholder="Number 1 - 4">
                            </div>
                              
                        <form ng-app="pixelTone" name="form">
                            <div class="btn btn-primary" style="margin:0 auto; width: 200px;" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                            >Choose Image</div>
                            <br>
                            <button class="btn btn-primary" style="margin:0 auto; width: 200px; margin-top: 5px;" type="submit" ng-click="submit()">Upload</button>
                            {{name}}
                            <br
                            <br>
                            <button class="btn btn-primary" style="margin:0 auto; width: 200px; margin-top: 5px;" type="submit" ng-click="process()">Process</button>
                        </form>
                    </div>
                </div>
            </div>
            
            </div>
           

      </div>
    </div>
</div>


<div class="container" ng-show="isDataBack">
  <h2>Songs you created</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Upload Date</th>
        <th>Song</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recentSong in recentSongs">
      <td class="col-md-2" ><img ng-src="{{ recentSong.url }}" height="75" width="75" > </td>
      <td><h4>{{ recentSong.uploadDate }}</h4></td>
      <td>
       <h4> <a href="../BackEnd/songs/{{ recentSong.songPath }}">{{ recentSong.songPath }}</a></h4>
       <button ng-click="playSong(recentSong.songKey)" id="btnSubmit" type="submit" class="btn btn-primary">PlaySong</button>
      </td>
    </tr>
  </tbody>
  </table>
  </div>
</div>
