<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Welcome to PixelTone</h1>
    <h3>Upload a picture and get a tailored made song!</h3>
    <button ng-click ="newPic === 1"type="button" class="btn btn-primary">Upload your picture!!</button>
</div>


<div class="container">
  <h2>Recent Songs created</h2>                                                                  
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Img</th>
        <th>Author</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="recentSong in recentSongs">
			<td class="col-md-2" ><img ng-src="{{ recentSong.icon }}" height="75" width="75" > </td>
			<td><h4>{{ recentSong.author }}</h4></td>
			<td>
				<button type="button" class="btn btn-default" aria-label="Left Align">
  					<span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">
  					<span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" aria-label="Left Align">
  					<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button>
			</td>
		</tr>
	</tbody>
  </table>
  </div>
</div>